<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
    <link th:href="@{/css/login-page.css}" rel="stylesheet" />
    <style>
        h3 {
  text-align: center;
}
    </style>
</head>

<body>

<div th:replace="fragments/navbar.html :: navbar"></div>

<div class="container-fluid ps-md-0">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Add book</h3>

                <form class="login-form" th:action="@{/books/add-post}" th:object="${object}" method="post">
                    <div class="form-floating mb-3">
                        <input required type="text" th:field="*{ISBN}" class="form-control" id="floatingISBN" placeholder="ISBN">
                        <label for="floatingISBN">ISBN</label>
                        <p th:each="error : ${#fields.errors('ISBN')}"
                           th:text="${error}" class="alert alert-danger" role="alert">Validation error</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input required type="text" th:field="*{language}" class="form-control" id="floatingLanguage" placeholder="Language">
                        <label for="floatingLanguage">Language</label>
                        <p th:each="error : ${#fields.errors('language')}"
                           th:text="${error}" class="alert alert-danger" role="alert">Validation error</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input required type="text" th:field="*{publishingDate}" class="form-control" id="floatingPublishingDate" placeholder="Publishing date">
                        <label for="floatingPublishingDate">Publishing date</label>
                        <p th:each="error : ${#fields.errors('publishingDate')}"
                           th:text="${error}" class="alert alert-danger" role="alert">Validation error</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input required type="text" th:field="*{name}" class="form-control" id="floatingName" placeholder="Name">
                        <label for="floatingName">Name</label>
                        <p th:each="error : ${#fields.errors('name')}"
                           th:text="${error}" class="alert alert-danger" role="alert">Validation error</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input required type="text" th:field="*{about}" class="form-control" id="floatingAbout" placeholder="About">
                        <label for="floatingAbout">About</label>
                        <p th:each="error : ${#fields.errors('about')}"
                           th:text="${error}" class="alert alert-danger" role="alert">Validation error</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input required type="text" th:field="*{pagesCount}" class="form-control" id="floatingPagesCount" placeholder="Pages count">
                        <label for="floatingPagesCount">Pages count</label>
                        <p th:each="error : ${#fields.errors('pagesCount')}"
                           th:text="${error}" class="alert alert-danger" role="alert">Validation error</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input required type="text" th:field="*{copiesCount}" class="form-control" id="floatingCopiesCount" placeholder="Copies count">
                        <label for="floatingCopiesCount">Copies count</label>
                        <p th:each="error : ${#fields.errors('copiesCount')}"
                           th:text="${error}" class="alert alert-danger" role="alert">Validation error</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input required type="text" th:field="*{ageLimit}" class="form-control" id="floatingAgeLimit" placeholder="Age limit">
                        <label for="floatingAgeLimit">Age limit</label>
                        <p th:each="error : ${#fields.errors('ageLimit')}"
                           th:text="${error}" class="alert alert-danger" role="alert">Validation error</p>
                    </div>


                    <div class="input-group form-floating mb-3">
                        <i class="bi bi-key input-group-text"></i>
                        <select class="form-select" name="format">
                            <option th:each="formatOpt : ${T(com.example.library.enums.EditionFormat).values()}"
                                    th:value="${formatOpt}" th:text="${formatOpt.name}"></option>
                        </select>
                    </div>

                    <div class="d-grid">


                        <button class="btn btn-lg btn-dark btn-bg-dark.bg-gradient btn-login text-uppercase fw-bold mb-2" type="submit">Add</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>

<script type="text/javascript" th:src="@{/js/datepicker.js}"></script>

</body>

</html>