<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<div th:replace="~{fragments/head.html :: head('Add genre')}"></div>

<body>

<div th:replace="~{fragments/navbar.html :: navbar}"></div>

<form th:object="${genre}" method="post" th:action="@{/genres/add-genre}">
    <div>
        <label th:text="#{name}"></label>
        <input type="text" th:field="*{name}"/>
        <span th:errors="*{name}"></span>
    </div>
    <input type="submit" class="btn btn-sm stn-dark" th:text="#{add}" value="Add"/>
</form>

<script type="text/javascript" th:src="@{/js/localization.js}"></script>

</body>
</html>