<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:replace="~{fragments/head.html :: head('Blocks')}"></div>

<body>

<div th:replace="~{fragments/navbar.html :: navbar}"></div>

<div class="col">
    <div class="row justify-content-center">
        <div class="col-sm">
            <div class="card-header border-0">
                <h3 class="mb-0">Blocks</h3>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/search-by-date.html :: search_by_date (${period}, 'block')}"></div>

    <div>
        <table>
            <thead>
            <tr class="table100-head">
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Is active</th>
                <th scope="col">Last day</th>
                <th scope="col">Used id</th>
                <th scope="col">Cancel</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="a : ${actions}">
                <td th:text="${a?.id}"></td>

                <td th:text="${#dates.format(a?.day, 'dd-MM-yyyy HH:mm:ss')}"></td>

                <td>
                    <span class="badge badge-dot mr-4">
                        <div th:switch="${a?.isActive}">
                            <p th:case="true"> <i class="bg-success"></i> </p>
                            <p th:case="false"> <i class="bg-danger"></i> </p>
                        </div>
                    </span>
                </td>

                <td th:text="${#dates.format(a?.user?.blockingEnd, 'dd-MM-yyyy HH:mm:ss')}"></td>

                <td th:text="${a?.user?.id}"></td>

                <td>
                    <a th:if="${a?.isActive}" class="dropdown-item"
                       data-bs-toggle="modal"
                       th:attr="data-bs-target='#cancelActionModal' + ${a?.id}">&times;</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div th:block th:each="a : ${actions}">
        <div class="modal fade"  th:attr="id=${'cancelActionModal' + a?.id}, aria-labelledby=${'#cancelActionModalLabel' + a?.id}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:attr="id=${'cancelActionModalLabel' + a?.id}">Confirm cancel</h5>
                        <button type="button" class="close d-flex justify-content-end" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <p>Do you really want to cancel this action?</p>

                        <form class="login-form"
                              th:action="@{/unblock-user/{id} (id=${a?.user?.id})}"
                              method="get">

                            <div class="text-center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-lg btn-secondary btn-bg-secondary.bg-gradient btn-login fw-bold" data-bs-dismiss="modal">No</button>
                                    <button type="submit" class="btn btn-lg btn-dark btn-bg-dark.bg-gradient btn-login fw-bold">Yes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>

<script type="text/javascript" th:src="@{/js/datepicker.js}"></script>

</body>
</html>