<div th:fragment="reviews (form)">
    <div class="col-12 list-group list-group-mine">
        <div th:block th:each="b : ${form.objects}" style="margin: 10px 0px; border-radius: 0.5rem;">
            <div class="col-auto w-100 list-group-item list-group-item-dark flex-column align-items-start">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1" th:text="${b.user.getShortName()}"></h5>

                    <div class="col-auto" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIBRARIAN')">
                        <a data-bs-toggle="modal"
                           th:attr="data-bs-target='#deleteModal' + ${b?.id}">
                            <i class="bi bi-trash"></i>
                        </a>
                        <a data-bs-toggle="modal"
                           th:attr="data-bs-target='#blockReviewModal' + ${b?.id}">
                            <i class="bi bi-slash-circle"></i>
                        </a>
                    </div>

                    <div class="col-auto">
                        <label for="input-6" class="control-label" style="font-size: 20pt; font-style: bold;"></label>
                        <input id="input-6" name="input-6" class="rating rating-loading" th:value="${b.rating}" data-show-clear="false" data-show-caption="false" data-readonly="true" data-size="sm">
                    </div>
                </div>
                <p class="mb-1" th:text="${b.content}"></p>
                <small th:text="${#dates.format(b.date, 'dd-MM-yyyy')}"></small>
            </div>
        </div>

        <div th:replace="fragments/pagination.html :: pagination(${form})"></div>
    </div>

    <div th:block th:each="obj, it : ${form.objects}">
        <div class="modal fade"  th:attr="id=${'deleteModal' + obj.id}, aria-labelledby=${'#deleteModalLabel' + obj.id}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:attr="id=${'deleteModalLabel' + obj.id}">Confirm deletion</h5>
                        <button type="button" class="close d-flex justify-content-end" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <p>Do you really want to delete this review?</p>

                        <form class="login-form" th:action="@{/reviews/delete-review/{id} (id=${obj.id})}" method="post">

                            <div class="text-center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-lg btn-secondary btn-bg-secondary.bg-gradient btn-login  fw-bold" data-bs-dismiss="modal">No</button>
                                    <button type="submit" class="btn btn-lg btn-dark btn-bg-dark.bg-gradient btn-login  fw-bold">Yes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade"  th:attr="id=${'blockReviewModal' + obj.id}, aria-labelledby=${'#blockReviewModalLabel' + obj.id}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:attr="id=${'blockReviewModalLabel' + obj.id}">Confirm block</h5>
                        <button type="button" class="close d-flex justify-content-end" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <p>Do you really want to block this review?</p>

                        <form class="login-form" th:action="@{/reviews/block-review/{id} (id=${obj.id})}" method="post">

                            <div class="text-center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-lg btn-secondary btn-bg-secondary.bg-gradient btn-login  fw-bold" data-bs-dismiss="modal">No</button>
                                    <button type="submit" class="btn btn-lg btn-dark btn-bg-dark.bg-gradient btn-login  fw-bold">Yes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>