<div th:fragment="short_book_list(books)">
    <div class="col">

        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Unlike</th>
                </tr>

                </thead>

                <tbody>
                <tr th:each="b : ${books}">

                    <td>
                        <a th:href="@{/books/{id} (id=${b.id})}" th:text="${b.name}"></a>
                    </td>

                    <td>
                        <div th:each="a: ${b.authors}">
                            <a th:href="@{/authors/profile/{id} (id=${a.id})}" th:text="${a.fullName}"></a>
                        </div>
                    </td>

                    <td th:text="${b.rating}"></td>

                    <td>
                        <a data-bs-toggle="modal" th:attr="data-bs-target='#cancelLikeModal' + ${b.id}">&times;</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div th:block th:each="b : ${books}">
            <div class="modal fade"  th:attr="id=${'cancelLikeModal' + b.id}, aria-labelledby=${'#cancelLikeModalLabel' + b?.id}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:attr="id=${'cancelLikeModalLabel' + b.id}">Cancel like</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form class="login-form" th:action="@{/books/like/{editionId} (editionId=${b.id})}" method="post">

                                <p>Do you really want to unlike [[${b.name}]]?</p>

                                <div class="text-center">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-lg btn-secondary btn-bg-secondary.bg-gradient btn-login text-uppercase fw-bold" data-bs-dismiss="modal">No</button>
                                        <button type="submit" class="btn btn-lg btn-dark btn-bg-dark.bg-gradient btn-login text-uppercase fw-bold">Yes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>