<div th:fragment="user_reviews (reviews)">
    <div class="col">

        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Content</th>
                </tr>

                </thead>

                <tbody>
                <tr th:each="b : ${reviews}">

                    <td th:text="${#dates.format(b.date, 'dd-MM-yyyy')}"></td>

                    <td>
                        <a th:href="@{/books/{id} (id=${b.edition.id})}" th:text="${b.edition.name}"></a>
                    </td>

                    <td>
                        <label for="input-6" class="control-label" style="font-size: 20pt; font-style: bold;"></label>
                        <input id="input-6" name="input-6" class="rating rating-loading" th:value="${b.rating}" data-show-clear="false" data-show-caption="false" data-readonly="true" data-size="sm">
                    </td>

                    <td th:text="${b.content}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>