<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:replace="~{fragments/head.html :: head(${object.name})}"></div>

<body>

<div th:replace="~{fragments/navbar.html :: navbar}"></div>

<div class="container light-style flex-grow-1 container-p-y">

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">

                    <img th:if="${object.photo}" th:src="@{${object.photo.url}}" alt="image" class="card-img">

                    <div class="row justify-content-center" style="margin: 20px;" th:switch="${bookingStatus}">
                            <div class="btn-group">
                                <button th:case="${T(com.example.library.enums.BookingStatus).DISABLED}"
                                        th:text="#{book}"
                                        type="button"
                                        class="btn btn-dark"
                                        data-bs-toggle="modal" data-bs-target="#bookModal"
                                        disabled="disabled"
                                        style="width: 20%;">
                                </button>

                                <button th:case="${T(com.example.library.enums.BookingStatus).ENABLED}"
                                        th:text="#{book}"
                                        type="button"
                                        class="btn btn-dark"
                                        style="width: 20%;"
                                        data-bs-toggle="modal" data-bs-target="#bookModal">
                                </button>

                                <a th:case="${T(com.example.library.enums.BookingStatus).ZERO_COPIES}"
                                   th:text="#{notify}"
                                   th:href="@{/books/notify/{id} (id=${object.id})}"
                                   th:disabled="${disabled}"
                                   role="button"
                                   class="btn btn-dark"
                                   style="width: 20%;"></a>

                                <a th:href="@{/books/preview/{id} (id=${object.id})}"
                                   th:text="#{view.preview}"
                                   role="button"
                                   class="btn btn-dark"
                                   style="width: 20%; color: white;"
                                   id="preview"></a>

                            </div>
                    </div>



                <div hidden="hidden">
                    <input type="text" hidden="hidden" id="isbn" th:value="${object.ISBN}"/>

                    <div id="viewerCanvas"  style="height: 630px;"></div>
                </div>


                <div class="row justify-content-center">
                    <div class="col-6 tab" role="tabpanel">
                        <ul class="nav nav-tabs nav-tabs-vertical" role="tablist">
                            <li class="nav-item active" role="presentation">
                                <a class="nav-link active" th:text="#{info}" data-bs-toggle="tab" href="#info" role="tab" aria-selected="true">
                                    <i class="bi bi-info-circle-fill"></i>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" th:text="#{reviews}" data-bs-toggle="tab" href="#reviews" role="tab" aria-selected="false">
                                    <i class="bi bi-chat-square-text-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="col-md-8">
                <div class="card-body" style="margin: 0 40px;">
                    <div class="card-title row">
                        <h4 style="float: left; width: auto; height: 40px;" th:text="${object.name}"></h4>

                        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" style="float: left; width: auto; height: 40px;">
                            <div class="col-auto" style="float: left; width: auto; height: 40px;">
                                <a class="btn btn-md btn-light btn-bg-light.bg-gradient btn-login rounded-circle fw-bold mb-2"
                                   th:href="@{/books/edit/{id} (id=${object.id})}"><i class="bi bi-pencil-fill"></i></a>
                            </div>

                            <form th:action="@{/books/delete-book/{id} (id=${object.id})}"
                                  class="col-auto"
                                  style="float: left; width: auto; height: 40px;"
                                  method="post">
                                <button type="submit"
                                        class="btn btn-md btn-light btn-bg-light.bg-gradient btn-login rounded-circle fw-bold mb-2">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>

                        <form id="likeForm" name="likeFormName" th:action="@{/books/like/{id} (id=${object.id})}" method="post" style="float: left; width: 1px; height: 40px;">
                            <div class="heartbox">
                                <input type="checkbox" class="checkbox" id="checkbox" th:checked="${showLike}" th:onclick="submitLikeForm()"/>

                                <label for="checkbox">
                                    <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                                            <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2" />
                                            <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5" />
                                            <g id="heartgroup7" opacity="0" transform="translate(7 6)">
                                                <circle id="heart1" fill="#9CD8C3" cx="2" cy="6" r="2" />
                                                <circle id="heart2" fill="#8CE8C3" cx="5" cy="2" r="2" />
                                            </g>
                                            <g id="heartgroup6" opacity="0" transform="translate(0 28)">
                                                <circle id="heart1" fill="#CC8EF5" cx="2" cy="7" r="2" />
                                                <circle id="heart2" fill="#91D2FA" cx="3" cy="2" r="2" />
                                            </g>
                                            <g id="heartgroup3" opacity="0" transform="translate(52 28)">
                                                <circle id="heart2" fill="#9CD8C3" cx="2" cy="7" r="2" />
                                                <circle id="heart1" fill="#8CE8C3" cx="4" cy="2" r="2" />
                                            </g>
                                            <g id="heartgroup2" opacity="0" transform="translate(44 6)">
                                                <circle id="heart2" fill="#CC8EF5" cx="5" cy="6" r="2" />
                                                <circle id="heart1" fill="#CC8EF5" cx="2" cy="2" r="2" />
                                            </g>
                                            <g id="heartgroup5" opacity="0" transform="translate(14 50)">
                                                <circle id="heart1" fill="#91D2FA" cx="6" cy="5" r="2" />
                                                <circle id="heart2" fill="#91D2FA" cx="2" cy="2" r="2" />
                                            </g>
                                            <g id="heartgroup4" opacity="0" transform="translate(35 50)">
                                                <circle id="heart1" fill="#F48EA7" cx="6" cy="5" r="2" />
                                                <circle id="heart2" fill="#F48EA7" cx="2" cy="2" r="2" />
                                            </g>
                                            <g id="heartgroup1" opacity="0" transform="translate(24)">
                                                <circle id="heart1" fill="#9FC7FA" cx="2.5" cy="3" r="2" />
                                                <circle id="heart2" fill="#9FC7FA" cx="7.5" cy="2" r="2" />
                                            </g>
                                        </g>
                                    </svg>
                                </label>
                            </div>
                            <input type="submit" id="likeButton" hidden="hidden">
                        </form>


                    </div>

                    <div class="card-text">
                        <div th:each="obj : ${object.authors}">
                            <a class="link-dark" th:href="@{/authors/profile/{id} (id=${obj.id})}" th:name="name" th:text="${obj.fullName}"></a>
                        </div>
                    </div>

                    <div>
                        <label for="input-6" class="control-label" th:text="${object.rating}" style="font-size: 20pt; font-style: bold;"></label>
                        <label class="control-label" style="font-size: 10pt;">[[${object.reviews.size}]] <span th:text="#{ratings}"></span></label>
                        <input id="input-6" name="input-6" class="rating rating-loading" th:value="${object.rating}" data-min="0" data-max="5" data-step="0.1" data-show-clear="false" data-show-caption="false" data-readonly="true" data-size="sm">
                    </div>

                    <div class="tab-content tabs" aria-orientation="vertical">
                        <div id="info" class="tab-pane in active">
                            <p class="card-text" th:text="${object.about}"></p>
                            <p class="card-text">ISBN: [[${object.ISBN}]]</p>

                            <p class="card-text">
                                <span th:text="#{publisher}"></span>: [[${object.publisher?.name}]]
                            </p>
                            <p class="card-text">
                                <span th:text="#{language}"></span>: [[${object.language}]]
                            </p>
                            <p class="card-text">[[${object.ageLimit}]]+</p>
                            <p class="card-text">[[${object.copiesCount}]] <span th:text="#{copies}"></span></p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <span th:text="#{publishing.date}"></span>: [[${object.publishingDate}]]
                                </small>
                                <br>
                                <small class="text-muted">
                                    [[${object.pagesCount}]] <span th:text="#{pages}"></span>, [[${object.format.name}]]
                                </small>
                            </p>

                            <div class="row d-inline card-text" th:each="g : ${object.genres}">
                                <a class="link-dark link-underline-success link-offset-3 link-underline-opacity-50 link-underline-opacity-100-hover" th:href="@{/genres/genre/{id} (id=${g.id})}" th:text="${g.name}" style="margin: 5px;"></a>
                            </div>
                        </div>
                        <div id="reviews" class="tab-pane">
                            <div class="error alert alert-dark alert-dismissible" th:text="#{review.exists}" th:if="${showReviewExists} == true"
                                 role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                            <p class="card-text">
                                <div class="row justify-content-start">

                                    <form class="col-auto" sec:authorize="isAuthenticated()" th:action="@{/reviews/review/{id} (id=${object.id})}" method="get">
                                        <button type="submit"
                                                th:text="#{leave.review}"
                                                class="btn btn-sm btn-dark btn-bg-dark.bg-gradient btn-login  fw-bold"
                                                th:disabled="${issuanceExists == false OR reviewExists == true}"
                                        ></button>
                                    </form>

                                    <form class="col-auto" sec:authorize="isAuthenticated()" th:action="@{/reviews/delete/{id} (id=${object.id})}" method="post">
                                        <button
                                                class="btn btn-sm btn-secondary btn-bg-secondary.bg-gradient btn-login  fw-bold"
                                                th:text="#{delete.review}"
                                                th:disabled="${reviewExists} == false">
                                        </button>
                                    </form>
                                </div>
                            </p>

                            <div th:replace="lists/reviews2.html :: reviews(${form})"></div>
                        </div>
                    </div>

                    <div class="row" style="margin: 10px;">
                        <div class="toast fade show bottom-0 end-0" id="toastNoPreview" style="visibility: hidden;">
                            <div class="toast-header">
                                <strong class="me-auto"><i class="bi bi-slash-circle"></i> Error!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body" th:text="#{no.preview}"></div>
                        </div>
                    </div>


                    <div class="toast fade show bottom-0 end-0" id="myToast" th:if="${small}">
                        <div class="toast-header">
                            <strong class="me-auto"><i class="bi bi-slash-circle"></i> Error!</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" th:text="#{little.age}"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"  id="bookModal" aria-labelledby="bookModalLabel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 th:text="#{booking}" class="modal-title" id="bookModalLabel"></h5>
                    <button type="button" class="close d-flex justify-content-end" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <p th:text="#{select.booking.end}"></p>

                    <form class="login-form" th:object="${booking}" th:action="@{/books/book/{id}(id=${object.id})}" method="post">
                        <div class="form-floating mb-3">
                            <div class="form-floating input-group mb-4">
                                <i class="bi bi-calendar-date input-group-text" id="myIcon"></i>
                                <input type="text" id="datepicker" th:field="*{lastDay}" class="datepicker_input form-control" placeholder="DD/MM/YYYY" required>
                                <label th:text="#{select.day}" for="datepicker" id="myLabel1"></label>
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" th:text="#{cancel}" class="btn btn-lg btn-secondary btn-bg-secondary.bg-gradient btn-login  fw-bold" data-bs-dismiss="modal"></button>
                                <button type="submit" th:text="#{book}" class="btn btn-lg btn-dark btn-bg-dark.bg-gradient btn-login fw-bold"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>

<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>

<script>
    function showNoPreview() {
    console.log('here');
        var elem = document.getElementById('toastNoPreview');
        elem.style.visibility = 'visible';
        document.getElementById('preview').removeAttribute("href");
    }
</script>
<script>
    function submitLikeForm() {
        document.likeFormName.submit();
    }
</script>

<script>
    $('ul.nav-tabs li').on('click', function(){
        $('li.active').removeClass('active'); // to remove the current active tab
        $(this).addClass('active'); // add active class to the clicked tab
    });
</script>

<script type="text/javascript">
    google.books.load();

    const previewLink = document.getElementById('preview');

    document.getElementById('toastNoPreview').style.visibility = 'hidden';

    function alertNotFound() {
        document.getElementById("preview").classList.add('noPreview');

         previewLink.addEventListener('click', function(event) {
             event.preventDefault(); // Prevent the default link behavior
             showNoPreview(); // Custom action
        });
    }

    function alertInitialized() {
    }

    function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        var isbn = document.getElementById('isbn');
        viewer.load('ISBN:' + isbn.value, alertNotFound, alertInitialized);
      }

    google.books.setOnLoadCallback(initialize);
</script>

<script>
    const getDatePickerTitle = elem => {
        // from the label or the aria-label
        const label = elem.nextElementSibling;
        let titleText = '';
        if (label && label.tagName === 'LABEL') {
            titleText = label.textContent;
        } else {
            titleText = elem.getAttribute('aria-label') || '';
        }
        return titleText;
    }

    const elems = document.querySelectorAll('.datepicker_input');
    for (const elem of elems) {
        var curDay = new Date(Date.now());
        curDay.setDate(curDay.getDate() + 1);
        const maxDay = new Date(Date.now());
        maxDay.setDate(maxDay.getDate() + 2*7); // two weeks

        const datepicker = new Datepicker(elem, {
            'format': 'dd/mm/yyyy',
            minDate: curDay,
            maxDate: maxDay,
            title: getDatePickerTitle(elem)
        });
    }
</script>

<script type="text/javascript" th:src="@{/js/localization.js}"></script>

</body>
</html>