<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:replace="fragments/head.html :: head"></div>

<body>

<div th:replace="fragments/navbar.html :: navbar"></div>

<div class="col">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="card-header border-0">
                <h3 class="mb-0">Genre [[${genre.name}]]</h3>
            </div>
        </div>
    </div>

    <div th:replace="lists/short-book-list :: short_book_list(${books})"></div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>

<script type="text/javascript" th:src="@{/js/datepicker.js}"></script>

</body>
</html>