<div th:fragment="books (editions)">
    <div class="col">
        <div class="container bootstrap snipets">
            <div class="row">
                <h1 class="text-center text-muted">Books</h1>
                <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" class="col-sm d-flex justify-content-end">
                    <a class="btn btn-sm btn-secondary btn-bg-secondary.bg-gradient btn-login text-uppercase fw-bold mb-2"
                       th:href="@{/books/add}">Add book</a>
                </div>
            </div>

            <div class="row flow-offset-1">
                <div th:each="edition : ${form.objects}"style="float: left; width: 25%;">

                    <div class="card mb-3" >
                        <img th:if="${edition.photo}" th:src="@{${edition.photo.url}}" alt="image" class="card-img-top">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title col-md-10">
                                    <a th:href="@{/books/{id} (id=${edition.id})}"
                                       th:text="${edition.name}"
                                       class="link-dark link-underline-dark link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover"></a>
                                </h5>

                                <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" class="text-right col-md-2">
                                    <div class="dropdown">
                                        <a class="btn btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-list"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item"
                                               data-bs-toggle="modal"
                                               th:attr="data-bs-target='#deleteModal' + ${edition?.id}">Delete</a>

                                            <a class="dropdown-item"
                                               th:href="@{/books/edit/{id} (id=${edition?.id})}"
                                            >Edit</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <p class="card-text">
                            <div th:each="a: ${edition?.authors}" style="float: left; width: auto; margin-right: 10px; ">
                                <a th:href="@{/authors/profile/{id} (id=${a.id})}"
                                   th:text="${a.fullName}"
                                   class="link-dark link-underline-dark link-offset-3 link-underline-opacity-50 link-underline-opacity-100-hover"></a>
                            </div>
                            </p>

                            <br>

                            <p class="card-text">
                            <div th:each="a: ${edition?.genres}" style="float: left; width: auto; margin-right: 10px; ">
                                <a th:href="@{/genres/genre/{id} (id=${a.id})}"
                                   class="link-dark link-underline-success link-offset-3 link-underline-opacity-50 link-underline-opacity-100-hover">
                                    <small th:text="${a.name}"></small>
                                </a>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>

                <div th:replace="modals/confirmDeletion :: modal(${form}, 'book')"></div>

            </div>
        </div>
    </div>
</div>