<div th:fragment="navbar">
    <div class="container-fluid px-0">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark py-0 px-0">
            <a class="navbar-brand" th:href="@{/}"><i class="bi bi-book"></i> &nbsp;&nbsp;&nbsp;E-library</a>
            <span class="v-line"></span>
            <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/books}">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/books/history}">Last views</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/new}">New editions</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/recommend}">Recommend</a>
                    </li>

                    <li class="nav-item dropdown">
                        <button class="btn btn-secondary dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-expanded="false">
                            Lists
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a th:href="@{/publishers}" class="dropdown-item">Publishers</a></li>
                            <li><a th:href="@{/genres}" class="dropdown-item">Genres</a></li>
                            <li><a th:href="@{/authors}" class="dropdown-item">Authors</a></li>
                        </ul>
                    </li>

                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" class="nav-item dropdown">
                        <button class="btn btn-secondary dropdown-toggle nav-link" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage users
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a th:href="@{/manage-users?role=all}" class="dropdown-item">All users</a></li>
                            <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/manage-users?role=admin}" class="dropdown-item">Admins</a></li>
                            <li><a th:href="@{/manage-users?role=librarian}" class="dropdown-item">Librarians</a></li>
                            <li><a th:href="@{/manage-users?role=reader}" class="dropdown-item">Readers</a></li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" class="nav-item dropdown">
                        <button class="btn btn-secondary dropdown-toggle nav-link" type="button" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            <li><a th:href="@{/manage-actions?type=block}" class="dropdown-item">Blocks</a></li>
                            <li><a th:href="@{/manage-actions?type=booking}" class="dropdown-item">Bookings</a></li>
                            <li><a th:href="@{/manage-actions?type=issuance}" class="dropdown-item">Issuances</a></li>
                            <li><a th:href="@{/manage-actions?type=return}" class="dropdown-item">Returns</a></li>
                        </ul>
                    </li>

                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>