<div th:fragment="pagination (form)">
    <ul class="pagination justify-content-center" th:if="${form.page.totalPages}">
        <li th:class="${form.page.number} ? 'page-item' : 'page-item disabled'">
            <a class="page-link"
               th:text="#{previous}"
               th:href="@{${currentUrl} + ${firstDelimeter} + 'page=' + ${form.page.number-1}}"></a>
        </li>

        <li th:if="${form.page.totalPages > 0}"
            th:each="pageNumber : ${pageNumbers}"
            class="page-item"
        >
            <a th:href="@{${currentUrl} + ${firstDelimeter} + 'page=' + ${pageNumber-1}}"
               th:text=${pageNumber}
               th:class="${pageNumber==form.page.number + 1} ? 'page-link active' : 'page-link'"></a>
        </li>

        <li class="page-item">
            <a th:class="${form.page.number == form.page.totalPages - 1} ? 'page-link disabled' : 'page-link'"
               th:text="#{next}"
               th:href="@{${currentUrl} + ${firstDelimeter} + 'page=' + ${form.page.number+1}}"></a>
        </li>
    </ul>
</div>