<div th:fragment="search_by_date_user (period)">
    <div class="row">
        <form th:action="@{/profile}" th:object="${period}" method="get">
            <input type="hidden" name="type" th:value="${type}" />

            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="form-floating input-group mb-4">
                        <i class="bi bi-calendar-date input-group-text" id="myIcon"></i>
                        <input type="text" id="datepickerFrom" th:field="*{from}" class="datepicker_input form-control" placeholder="DD/MM/YYYY" required>
                        <label th:text="#{from}" for="datepickerFrom" id="myLabel1">:</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-floating input-group mb-4">
                        <i class="bi bi-calendar-date input-group-text" id="myIcon1"></i>
                        <input type="text" id="datepickerTo" th:field="*{to}" class="datepicker_input form-control" placeholder="DD/MM/YYYY" required>
                        <label th:text="#{to}" for="datepickerTo" id="myLabel2">:</label>
                    </div>
                </div>

                <div class="col-auto d-grid">
                    <button type="submit"
                            class="btn btn-light btn-bg-light.bg-gradient btn-login mb-2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>