<div th:fragment="user_reviews (reviews)">
    <div class="col">

        <table>
            <thead>
                <tr class="table100-head">
                    <th th:text="#{date}" scope="col"></th>
                    <th th:text="#{edition}" scope="col"></th>
                    <th th:text="#{rating}" scope="col"></th>
                    <th th:text="#{content}" scope="col"></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="b : ${reviews}">

                    <td th:text="${#dates.format(b.date, 'dd-MM-yyyy')}"></td>

                    <td>
                        <a class="link-dark link-underline-success link-offset-3 link-underline-opacity-50 link-underline-opacity-100-hover"
                           th:href="@{/books/{id} (id=${b.edition.id})}"
                           th:text="${b.edition.name}"></a>
                    </td>

                    <td>
                        <label for="input-6" class="control-label" style="font-size: 20pt; font-style: bold;"></label>
                        <input id="input-6" name="input-6" class="rating rating-loading" th:value="${b.rating}" data-show-clear="false" data-show-caption="false" data-readonly="true" data-size="sm">
                    </td>

                    <td th:text="${#strings.abbreviate(b.content, 50)}"></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>